<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ADMOB_REWARDED_AD_UNIT_ID</key>
	<string>$(ADMOB_REWARDED_AD_UNIT_ID)</string>
	<key>APPHUD_API_KEY</key>
	<string>$(APPHUD_API_KEY)</string>
	<key>APPMETRICA_API_KEY</key>
	<string>$(APPMETRICA_API_KEY)</string>
	<key>APPSFLYER_APP_ID</key>
	<string>$(APPSFLYER_APP_ID)</string>
	<key>APPSFLYER_DEV_KEY</key>
	<string>$(APPSFLYER_DEV_KEY)</string>
	<key>GADApplicationIdentifier</key>
	<string>$(GADApplicationIdentifier)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>OPENAI_API_KEY</key>
	<string>$(OPENAI_API_KEY)</string>
	<key>OPENAI_MODEL</key>
	<string>$(OPENAI_MODEL)</string>
	<key>OPENAI_TTS_MODEL</key>
	<string>$(OPENAI_TTS_MODEL)</string>
	<key>OPENAI_TTS_VOICE</key>
	<string>$(OPENAI_TTS_VOICE)</string>
	<key>UIAppFonts</key>
	<array>
		<string>Amstelvar-Italic[wdth,wght,opsz].ttf</string>
		<string>FunnelDisplay-VariableFont_wght.ttf</string>
	</array>
</dict>
</plist>
